.speaker-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.speaker-detail {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 20px;
    flex: 0 1 calc(25% - 2rem);
    min-width: 18rem;
    text-align: center;
    position: relative;
    border: 1px solid black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    padding: 1.5rem;
    border-radius: 20px;
    flex: 0 1 calc(25% - 2rem);
    min-width: 18rem;
    background-color: #ffffff;
    color: black;
}

.speaker-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}
