#custom-cursor {
    width: 20px;
    height: 20px;
    background-color: #6b00ff;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #f2ff00;
    will-change: transform;
  }