.footer {
    background-color: white;
    border-top: 1px solid black;
    padding: 3rem 7rem 0rem;
    margin-top: auto;
    width: 100%;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    flex: 0 1 auto;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}

.newsletter-form input {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}

.newsletter-form button {
    padding: 0.5rem 2rem;
    margin-top: 0rem;
}


.social-links {
    display: flex;
    gap: 2rem;
}

.social-links a {
    color: black;
    transition: all 0.3s ease;
    font-size: 2rem;
}

.social-links a:hover {
    color: #6B00FF;
    filter: drop-shadow(0 0 10px rgba(107, 0, 255, 0.5));
    transform: scale(1.1);
}


.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #000;
}


.scroll-top {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: black;
    font-size: 24px;
    transition: all 0.3s ease;
    z-index: 10;
}

.scroll-top:hover {
    color: #6B00FF;
    filter: drop-shadow(0 0 10px rgba(107, 0, 255, 0.5));
    transform: scale(1.1);
}

