.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-container img {
  height: 100px;
}

button.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

button.hamburger span {
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 20px;
}

button.hamburger:focus {
  outline: none;
  background: none !important;
}

.hamburger:hover span {
  background: #6b00ff;
  box-shadow: 0 0 10px rgba(107, 0, 255, 0.5);
  transition: all 0.3s ease;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 19rem;
  background: #fff;
  width: 200px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

nav.nav-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 19rem;
  background: #fff;
  width: 200px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  border: 1px solid black;
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #6B00FF;
    transition: width 0.7s ease;
}

nav a:hover::after {
    width: 100%;
}


.menu-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-button {
  width: 150px;
  height: 48px;
  padding: 0.8rem 2rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1875rem;
  transition: background-color 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.auth-button:hover {
  background: #6b00ff;
  color: white;
}
