/*css resets*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  cursor: none !important;
}

html, body, *, *::before, *::after {
  cursor: none !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;
  cursor: none !important;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input, input:hover {
  cursor: auto !important;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

a, button, input, select {
  cursor: none !important;
}

/*site wide*/
#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

p {
  font-size: 1.1875rem;
  letter-spacing: 0.02rem;
}

a {
  font-size: 1.1875rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 0.7rem;
  letter-spacing: 0.1rem;
}

a:hover {
  color: #6B00FF;
}

.container {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem 15rem;
  width: calc(100% - 30rem);
  color: black;
  margin: 1rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

form input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1.1875rem;
  background-color: white;
  color: black;
}


form input:focus {
  outline: none;
  border-color: #6B00FF;
  box-shadow: 0 0 0 2px rgba(107, 0, 255, 0.2);
}

button {
  padding: 0.8rem 2rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1875rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #6B00FF;
}

a[href*="neat.firecms.co"] {
  display: none !important;
}

/*cursor*/
#custom-cursor {
  width: 20px;
  height: 20px;
  background-color: #6B00FF;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #F2FF00;
  will-change: transform;
}

/*Home page css*/
.hero-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: auto;
  height: auto;
  display: block;
  max-height:65vh;
}


/*Login page css*/
.login-container {
  max-width: 37.5rem;
  margin: 2rem auto;
  padding: 3rem;
}

.login-container h1 {
  margin-bottom: 2rem;
}


/*Speaker list css*/

.speaker-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.speaker-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  box-sizing: border-box;
}

.speaker-detail {
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
