*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  cursor: none !important;
}

html,
body,
*,
*::before,
*::after {
  cursor: none !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  cursor: none !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
input:hover {
  cursor: auto !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

a,
button,
input,
select {
  cursor: none !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 1rem;
}